@use '../../../variables.scss';

.button {
  padding: 0.75rem 1rem;
  border: 0.094rem solid variables.$purple;
  border-radius: 0.25rem;
  background: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  color: variables.$purple;
  cursor: pointer;
  user-select: none;

  &:hover {
    border-color: variables.$purple-light;
    color: variables.$purple-light;
  }

  &_filled {
    background-color: variables.$purple;
    border: none;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: variables.$purple-light;
    }
  }

  &:active {
    transform: scale(0.97);
  }
}
