@use '../../variables.scss';

.create-page {
  padding: 1.5rem;
  &__frame {
    background: variables.$frame-bg;
    max-width: 56.25rem;
    min-height: 44rem;
    margin: 0 auto;
    border-radius: 12px 12px 0px 0px;
  }

  &__step {
    margin-top: 6.125rem;
  }

  &__navigate-buttons {
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-between;
  }
}
