.step-second {
  &__buttons {
    margin-top: 4.125rem;
    display: flex;
    justify-content: space-between;
  }

  &__advantage-container {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }

  &__delete-button-container {
    margin-left: 1.15rem;
  }
}
