$frame-bg: #fff;
$page-bg: #f4f4f5;
$main-text-color: #333;
$purple: #5558fa;
$purple-light: #888aff;
$gray: #a6a6a6;
$gray-8: rgba(0, 0, 0, 0.08);

@mixin font-regular {
  font-family: 'Roboto', sans;
  font-weight: normal;
  font-style: normal;
}

@mixin font-medium {
  font-family: 'Roboto', sans;
  font-weight: 600;
  font-style: normal;
}
