$frame-bg: #fff;
$page-bg: #f4f4f5;
$main-text-color: #333;
$purple: #5558fa;
$purple-light: #888aff;
$purple-lightest: #e0e0ff;
$gray: #a6a6a6;
$gray-4: rgba(0, 0, 0, 0.04);
$gray-8: rgba(0, 0, 0, 0.08);
$gray-16: rgba(0, 0, 0, 0.16);
$gray-24: rgba(0, 0, 0, 0.24);
$gray-48: rgba(0, 0, 0, 0.48);

@mixin font-regular {
  font-family: 'SB Sans Interface', sans;
  font-weight: normal;
  font-style: normal;
}

@mixin font-medium {
  font-family: 'SB Sans Interface', sans;
  font-weight: 600;
  font-style: normal;
}
