@use '../../variables.scss';

.main-page {
  background: variables.$page-bg;
  height: 100vh;
  padding: 1.5rem;

  &__frame {
    background: variables.$frame-bg;
    max-width: 56.25rem;
    min-height: 44rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 12px 12px 0px 0px;
  }

  &__user-avatar-and-info {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-direction: column;

    @media (min-width: 540px) {
      flex-direction: row;
    }
  }

  &__user-avatar {
    max-width: 5rem;
    border-radius: 50%;
  }

  &__user-name-and-socials {
    margin-left: 1.5rem;
  }

  &__user-name {
    font-size: 1.25rem;
    color: variables.$main-text-color;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    @include variables.font-medium;

    @media (min-width: 540px) {
      margin-top: initial;
      text-align: left;
    }
  }

  &__user-socials {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.1rem;
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__social-link {
    text-decoration: none;
    color: #5558fa;

    &:hover {
      color: #9fa0fd;
    }
  }

  &__social-icon {
    margin-right: 0.35rem;
  }

  &__divider {
    border: 1px solid rgba(0, 0, 0, 0.08);
  }

  &__phone-and-email-form {
    margin-top: 1.5rem;
  }

  &__button {
    margin-top: 3rem;
  }
}
